.container_tela_inicial {
}

.container_logo {
  display: table;
  margin: 25% auto 5%;
  width: 50%;
}

.btn_entrar {
  width: 80%;
  margin: 17% auto;
}

.btn_cadastrar {
  color: #333;
  text-transform: lowercase;
  font-size: 1.1em;
}
.span_cadastrar {
  color: #3880ff;
  text-transform: uppercase !important;
  margin-left: 10px;
}
