.container_tela_inicial {
}

.container_logo {
  display: table;
  margin: 10% auto 0;
  width: 50%;
}

.title_mytoyz {
  display: table;
  margin: 20% auto 0;
}

.btn_entrar {
  width: 80%;
  margin: 17% auto;
}
