<ion-content class="container_tela_inicial">
  <div class="title_mytoyz">
    <img src="../../assets/title_mytoyz.png" alt="" />
  </div>
  <div class="container_logo">
    <img src="../../assets/logo1.png" alt="" />
  </div>

  <ion-button shape="round" class="btn_entrar" color="primary" size="large" expand="full"
    >Entrar</ion-button
  >
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title text-center
      >novo na loja ? <span><a href="">Cadastre-se</a></span></ion-title
    >
  </ion-toolbar>
</ion-footer>
